<!DOCTYPE html>
<html>
	<head>
		<title >ATM</title>
	</head>
	<body style="background:darkgreen;margin: 0px">
	

<header style="background:green">
			<center>
				<h1 style="font-size: 100px;margin: 0px">Welcome to ATM</h1>
			</center>
	    </header>
		<center style="font-size: 20px"><br><br>
			<h1 >SCAN your ATM card</h1>
			<br><br><br>
			<form action="http://localhost:5000/atm_number" method="post">
				<h2>Enter your Atm number</h2>
				<input type="text" name="atm_number" style="height: 35px;width: 320px;font-size: 35px" ><br><br>
				<input type="submit" style="height: 35px;font-size: 25px;background: gray">
			</form>
			<p ><a href="forget_atm.html" style="text-decoration: none;color: black;background: blue;">Forget PIN</a>&nbsp&nbsp&nbsp&nbsp&nbsp <a href="make_atm.html" style="text-decoration: none;color: black;background: blue;">Doesn't have ATM</a></p>
		</center>
	</body>
</html>