<!DOCTYPE html>
<html>
	<head>
		<title >ATM</title>
	</head>
	<body style="background:darkgreen;margin: 0px">
		<header style="background:green">
			<center>
				<h1 style="font-size: 75px;margin: 0px">Welcome BOOM PRODUCTION</h1>
			</center>
	    </header>
		<center style="font-size: 20px">
			<h2> About ATM</h2>
					<div style="background: white;width: 500px;height: 350px">
						<p>"Cash machine" redirects here. For the Hard-Fi song, see Cash Machine.

					An NCR Personas 75-Series interior, multi-function ATM in the United States</p>
					<p>
					Smaller indoor ATMs dispense money inside convenience stores and other busy areas, such as this off-premises Wincor Nixdorf mono-function ATM in Sweden.
					An automated teller machine, also known in the United States of America as an automatic teller machine[1][2][3] , automated banking machine , cash point , cashline, minibank, cash machine, tyme machine, cash dispenser, bankomat or bancomat is an electronic telecommunications device that enables the customers of a financial institution to perform financial transactions, particularly cash withdrawal, without the need for a human cashier, clerk or bank teller.</p>
			</div>
			<h2> About Production</h2>
					<div style="background: white;width: 500px;height: 50px">
						<p> SUBMITED BY- Ravi
						<br>Roll No.- 1402910133</p>
			</div>
		</center>
	</body>
</html>