<!DOCTYPE html>
<html>
	<head>
		<title >ATM</title>
	</head>
	<body style="background:darkgreen;margin: 0px">
		<header style="background:green">
			<center>
				<h1 style="font-size: 100px;margin: 0px">Welcome to TRANSFER</h1>
			</center>
	    </header>
		<center style="font-size: 20px">
			<h1>Your atm number :{{ atm_number }}</h1>

			<form action="http://localhost:5000/transfer" method="post">
				<h2>Enter your Transfer Account & Amount details</h2>
				Account number: &nbsp&nbsp<input type="text" name="transfer_account_number" style="height: 35px;width: 320px;font-size: 35px"><br><br>
				Amount:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="transfer_amount" style="height: 35px;width: 320px;font-size: 35px"><br><br>
				<input type="submit" style="height: 35px;font-size: 25px;background: gray;">
			</form>

		</center>
	</body>
</html>